* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  background-color: #eae0d5;
  color: #220901;
  font-family: "Space Grotesk", serif;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

img {
  border-radius-top: 90%;
  border: solid 3px #6c584c;
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
}

.bottom-container {
  border-top: solid 1px #6c584c;
}

i {
  font-size: 1.2rem;
}

.social-links i {
  font-size: 1.5rem;
  color: #fef9ef;
}

.social-links i:hover {
  transform: scale(1.4); 
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2em;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

  padding: 1em 0;

  background-color: #a98467;
  width: 100%;
}

.flex-row {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio {
  line-height: 1.5;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.top-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3em;
}

.bottom-container {
  padding: 1.5em;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: start;
}

/* Styles for iPad portrait */

@media (min-width: 768px) and (max-width: 1023px) {
  article {
    height: 100vh;
    padding: 2em;
  }

  .container {
    font-size: 18px;
  }

  .bottom-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Desktop size */
@media (min-width: 1024px) {
  article {
    height: 100%;
    overflow: hidden;
  }
  .container {
    display: flex;
    flex-direction: row;
    padding: 4em 0;

    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.6rem;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    height: 100%;
    width: fit-content;
    padding: 1em;
    border-radius: 0.5em;
  }

  .bottom-container {
    border-top: none;
    border-left: solid 1px #6c584c;
    margin-left: 3em;
  }
}


.social-links a:focus {
    outline: 2px solid black;
    outline-offset: 2px;
    border-radius: 4px;
}


:focus {
    outline: 2px solid black;
    outline-offset: 2px;
}


:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
}